
$icon-mail: "\e911";
$icon-call: "\e900";
$icon-house: "\e901";
$icon-coin: "\e902";
$icon-thermometer: "\e903";
$icon-snowflake: "\e904";
$icon-drop: "\e905";
$icon-sunny-day: "\e906";
$icon-energy: "\e907";
$icon-wifi-connection: "\e908";
$icon-calendar: "\e909";
$icon-settings-gears: "\e90a";
$icon-wrench: "\e90b";
$icon-settings: "\e90c";
$icon-air-conditioner: "\e90d";
$icon-shipped: "\e90e";
$icon-school-material: "\e90f";
$icon-question: "\e910";


$button-color: #f07b07;
$brand-color: #4cccee;
